.taskWrapper{
  display: inline-flex;


  border-radius: 8px;
  border: 2px solid #ccc;
  padding: 8px;
  height: 60px;
  width: 100%;
}

.taskWrapper p{
  font-size: 8px;
  color: yellow;
}

a{
  color: darkcyan;
}
