
<ng-template #jokeDown>
  <div class="topDisplay">
    <h1>TASK - {{ task.taskId }} </h1>
    <h3>Claimed by {{ this.userName }}</h3>
    <div class="assignWrapper">
        <div class="selectAssign">
          <h5>Assigned to Sprint: {{task.sprintId}}</h5>
          <form #assignSprint="ngForm" (ngSubmit)="assignToSprint(assignSprint)">
            <label>Select Sprint</label>
            <select name = "sprintId" (ngModel)="task">
              <option *ngFor="let sprint of sprints" [(ngValue)]="sprint.sprintId">
                {{sprint.sprintId}}
              </option>
            </select>
            <button type="submit">Assign to Sprint</button>
          </form>
        </div>
        <div class="selectAssign">
        <h5>Status: {{task.taskStatus}}</h5>
        <form #assignStatus="ngForm" (ngSubmit)="save()">
          <label>Select Status</label>
          <select name = "taskStaus" [(ngModel)]="task.taskStatus">
            <option value="new">New</option>
            <option value="in progress">In Progess</option>
            <option value="pending">Pending</option>
          </select>
          <button type="submit">Update Status</button>
        </form>
      </div>
    </div>
    <div class="saveButtons">
      <button (click)="save()">Save</button>
      <button (click)="goBack()">Go Back</button>
      <button (click)="undoKick()">Undo Point</button>
      <button (click)="claimTask()">Claim Task</button>
      <button (click)="unclaimTask()">Unclaim Task</button>
      <button (click)="completeTask()">Complete Task</button>
    </div>

</div>
  <div class="description">
    <p>Task Description</p>
    <p id="desc">{{ task.fullDesc }}</p>
  </div>
  <div class="workWrapper">
    <p id="howTo">Keep score against this task bandit by clicking it after every 30 minutes of solid work
      on this task. This will not only opimize your productivity using the 30 minute block work-model,
      but will also help you plan for the time needed to complete a similar task in the future.</p>
    <div class="scoreKeep">
      <h4>Score</h4>
      <p><span id="sKeep">{{ task.scoreKeep }}</span>/<span id="sPoint">{{ task.storyPoint }}</span></p>
    </div>
    <div class="imageRow">
        <div class="banditSqaure">
          <button (click)="kickBandit()" id="banditBtn"><img src="/assets/images/64 bit bandit.png"></button>
        </div>
        <div class="kickSquare">
          <div class="workChuck">
            <img id="chuck" [src]="chuckGif">
          </div>
        </div>
    </div>
  </div>
</ng-template>


<div *ngIf="jokeUp; else jokeDown" class="jokeWrapper" >
  <h3>Great work partner! Take a 5 minute break, then get back to it.</h3>
  <h5>Your well earned Chuck Norris Joke...</h5>
  <p id="joke">"{{ joke.value }}"</p>
  <button (click)="closeJoke()">Go Back</button>
</div>
