.topDisplay{
  display: inline-block;
  align-items: baseline;
}

.saveButtons{
  display: inline-flex;
  justify-content: space-evenly;
}

.saveButtons button{
  border-radius: 10px;
  border: 2px solid rgb(255, 187, 0);
  background-color:rgb(112, 102, 95);
  color:snow;
  margin-right: 12px;
  align-items: center;
  width: 120px;
  height: 50px;
  font-size: 18px;
}

.saveButtons button:hover{
  transform: scale(1.06);
}

.imageRow{
  display: inline-flex;
  justify-content: space-evenly;
}

button{
  border-radius: 10px;
  border: 2px solid rgb(255, 187, 0);
  background-color:rgb(112, 102, 95);
  color:snow;
  margin-right: 12px;
  align-items: center;
}

button:hover{
  transform: scale(1.06);
}

#banditBtn{
  border: none;
  background: none;
}

#banditBtn:hover{
  transform: scale(1.05);
}

.kickSquare{
  padding: 15px;
}

#chuck{
  transform: scale(.8);
}
