<div>
  <div class="topDisplay">
    <h1>TASK-{{task.taskId}}</h1>
    <p>{{task.shortDesc}}</p>
    <div class="saveButtons">
      <button (click)="save()">Save</button>
      <button (click)="goBack()">Go Back</button>
    </div>
</div>
  <div class="description">
    <p>{{task.fullDesc}}</p>
    <p>{{task.storyPoint}}</p>
  </div>
  <div class="workWrapper">
      <div class="banditSqaure">
        <button (click)="kickBandit()" id="banditBtn"><img src="/assets/images/64 bit bandit.png"></button>
      </div>
      <div class="kickSquare">
        <div class="scoreKeep">
          <h4>Score</h4>
          <p>{{scoreKeep}}/{{task.storyPoint}}</p>
        </div>
        <div class="workChuck">
          <img [src]="chuckGif">
        </div>
      </div>
  </div>
</div>
