.backlogWrapper{
  border-radius: 10px;
  border: 4px solid rgb(255, 187, 0);
  background-color:rgb(112, 102, 95);
  color:snow;
  padding: 18px;
}

.empty{
  display: inline-flex;
  margin-top: 30px;
}

.emptyMessage{
  margin-top: 40px;


}

.emptyMessage a{
  color:rgb(255, 187, 0);
  font-size: 20px;
}

h1{
  margin-bottom: 35px;
}

p{
  margin-top: 12px;
  font-size: 20px;
  padding: 50px
}


.chuckNone{
  width: 30%;
  height: auto;

}

.taskWrapper{
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  border: 2px solid #ccc;
  padding: 8px;
  height: 60px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.taskAttribute{

  width: 100%;
  height:100%;
}

.taskAttribute p{
  font-size: 12px;
}



a{
  color: darkcyan;
}




