
.noLog{
  display: inline-flex;
}

.noLogtxt p{
  width: 80%;
  border: 2px solid rgb(112, 102, 95);
  padding: 5px;
  border-radius: 8px;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 40px;
}

.noLogtxt a{
  color:rgb(255, 187, 0);
}

 .empty{
  display: inline-flex;
  margin-top: 30px;
}

.emptyMessage{
  margin-top: 40px;


}

.emptyMessage a{
  color:rgb(255, 187, 0);
  font-size: 20px;
}

.sprintWrapper{
  margin-top: 10px;
  border-radius: 10px;
  border: 4px solid rgb(255, 187, 0);
  background-color:rgb(112, 102, 95);
  color:snow;
  padding: 18px;
}

h1{
  margin-bottom: 35px;
  color: rgba(90, 90, 90, 0.952)
}

p{
  margin-top: 12px;
  font-size: 20px;
  padding: 50px
}

button{
  border-radius: 10px;
  border: 2px solid rgb(255, 187, 0);
  background-color:rgb(112, 102, 95);
  color:snow;
  margin-right: 12px;
  align-items: center;
  margin-top: 10px;
}

button:hover{
  transform: scale(1.06);
}


.chuckNone{
  width: 30%;
  height: auto;

}
