*{
  box-sizing: border-box;
}
h1{
 color: rgba(90, 90, 90, 0.952)
}

.topArticle{
  display: inline-flex;
}

.articleTxt{
  margin-top: 30px;
  padding: 15px;
}

.articleTxt p{
  background-color: rgba(90, 90, 90, 0.952);
  padding: 15px;
  border-radius: 8px;
  color: white;
}

.articleTxt li{
  margin-top: 15px;
}


.banditPic img{
  max-height: 70%;
  padding-top: 20px;
  padding-left: 20px;
}

.form{
  width: 95%;
  margin-top: 12px;
  margin-bottom: 30px;
}

p{
  font-size: 18px;
}

input{
  border-radius: 8px;
  border: 2px solid #ccc;
  padding: 12px;
  height: 42px;
}

select{
  border-radius: 8px;
  border: 2px solid #ccc;
  padding: 8px;
  height: 42px;
}

input[type=text]:focus {
  border: 2px solid rgb(151, 151, 151);
}

.shDesc{
  width: 33vw;
}

#shortDesc{
  width: 100%;
}

.fDesc{
  margin-top: 32px;
}

#fullDesc{
  vertical-align: top;
  width: 100%;
  height: 200px;
  border-radius: 8px;
  border: 2px solid #ccc;
  padding: 12px;
}

textarea{
  vertical-align: text-top;
}

.topForm{
  display: flex;
  flex-direction: row;
  justify-content:space-between;

}

.selects{

  display: inline-flex;
}

.selects label{
  display: block;
}

.innerSelects{
  margin-left: 15px;
  display: block;
}

button{
  border-radius: 10px;
  border: 2px solid rgb(255, 187, 0);
  background-color:rgb(112, 102, 95);
  color:snow;
  margin-right: 12px;
  align-items: center;
  margin-top: 10px;
}

button:hover{
  transform: scale(1.06);
}
