<h1>Create New Task</h1>

<div class="topArticle">
  <div class="articleTxt">
    <p>With a task you can track your productivity and progress toward a specific goal.
      Write a description of the work and preparation you need to complete the task.
      Designate the task status, consider whether this task will need to wait on outside information or
      if its already been started. Assign a number of points the task will need. Read below to see
      how points work.
    </p>
    <ul>
      <li>The task's points should represent the amount of time it will take to complete this task.
        the rough conversion is about 1 hour for every 2 points.
      </li>
      <li>The amount of points you enter will give you a corresponding number of "bandits" (see right) for
        you and Chuck to take down.
      </li>
      <li>
        Click / Punch / Roundhouse Kick a bandit everytime you spend 25 straight minutes on the project.
        Then Chuck will encourage you to take a 5 minute break.
      </li>
      <li>
        This will not only opimize your productivity using a 25 minute block work-model, but will also
        help you plan for the time needed to complete a similar task in the future.
      </li>
    </ul>
  </div>
  <div class="banditPic">
    <img [src]="bandit">
  </div>
</div>

<div class="form">
  <form #newTaskForm="ngForm" (ngSubmit)="onSubmit(newTaskForm)">
    <div class="topForm">
      <div class="shDesc">
        <label>Short Description</label>
        <input id="shortDesc" type="text" [(ngModel)] = "task.ShortDesc" name="ShortDesc">
      </div>
      <div class="selects">
        <div class="innerSelects">
          <label>Points</label>
          <select [(ngModel)] = "task.StoryPoint" name="StoryPoint">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
            <option value=7>7</option>
            <option value=8>3</option>
            <option value=9>9</option>
            <option value=10>10</option>
            <option value=11>11</option>
            <option value=12>12</option>
          </select>
      </div>
        <div class="innerSelects">
          <label>Status</label>
          <select [(ngModel)]="task.TaskStatus" name="TaskStatus">
            <option value="new">New</option>
            <option value="in progress">In Progess</option>
            <option value="pending">Pending</option>
          </select>
       </div>
      </div>
    </div>
    <div class="fDesc">
      <label>Full Description</label>
      <textarea id="fullDesc" clrTextarea [(ngModel)] = "task.FullDesc" name="FullDesc"></textarea>
    </div>
    <button type="submit">submit</button>
  </form>
</div>